anyio==4.2.0
autopep8==2.0.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crypto==1.4.1
Cython==3.0.10
fake-useragent==1.5.1
Faker==25.0.1
FBlevi==0.1
getuseragent==0.0.7
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
idna==3.7
install==1.3.5
licensing==0.41
markdown-it-py==3.0.0
mdurl==0.1.2
mechanize==0.4.9
Naked==0.1.32
names==0.3.0
prettytable==3.10.0
pycodestyle==2.11.1
pycurl==7.45.3
pyfiglet==1.0.2
Pygments==2.17.2
pyotp==2.9.0
pystyle==2.9
pyTelegramBotAPI==4.12.0
python-cfonts==1.5.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
spark-parser==1.8.9
stdiomask==0.0.6
telebot==0.0.5
term-background==1.0.1
termcolor==2.4.0
tqdm==4.66.2
uncompyle6==3.9.1
urllib3==2.2.1
user_agent==0.1.10
uuid==1.30
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
xdis==6.1.0